@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Protest+Riot&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

::-webkit-scrollbar {
  display: none;
}

h1 {
  color: green;
}

a {
  color: green;
  font-weight: bold;
}

p {
  text-align: justify;
  line-height: 25px;
}

li {
  line-height: 25px;
}

marquee{
  color: yellow;
  background-color: green;
  font-size: 20px;
}

.centre {
  max-width: 1000px;
  margin-inline: auto;
  padding: 10px;
}

span.red-h{
  font-weight: bold;
  color: red;
}
span.blue-h{
  font-weight: bold;
  color: rgb(0, 119, 255);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 0 0 10px gray;
  width: 100%;
  background-color: white;
  z-index: 2;
  background-image: url(/assets/images/laptop-header\ copy.png);
  background-size: cover;
  background-position: center;
  padding-block: 10px;
  aspect-ratio: 10/1;
}

header div {
  height: 100%;
}

header img.logo {
  height: 60%;
  width: fit-content;
}

#aisclogo {
  height: 90%;
}

header div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

section {
  max-width: 1000px;
}

@media(max-width:700px) {

  header img.logo{
    width: 30%;
    height: 150%;
    object-fit: contain;
  }
  header{
    aspect-ratio: 3;
    background-image: url(/assets/images/mobile-header\ copy.png);
  }
}

.watermark{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

main {
  background: linear-gradient(to right, #7dfb7b2f, #0bcbfb3b);
  background-size: cover;
  background-position: center;
  position: relative;
}

main marquee {
  background-color: green;
  color: white;
  padding: 5px;
}

main .centre {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 20px;
  padding-block: 100px;
  text-align: center;
}

main .centre div {
  width: 70%;
}

main .centre div h1,
main .centre div h4 {
  background-image: linear-gradient(to right, orange, #2ecc71, green, black);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

main .centre div h3 {
  color: green;
  font-weight: 500;
  font-size: 16px;
  margin-top: 20px;
}

main p {
  font-weight: 500;
}

main .listener{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}

main .listener .container{
  background: linear-gradient(-45deg, #7efb7b, #0bcbfb, rgb(123, 255, 0), white);
  background-size: 400% 400%;
  display: flex;
  padding: 15px 20px;
  border-radius: 10px;
  gap: 20px;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.295);
  animation: animate 7s ease infinite;
}

main .listener .container button{
  padding: 10px 12px;
  color: black;
  background-color: white;
  font-weight: bold;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.venue{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
}

.venue .container{
  background: linear-gradient(-45deg, #7efb7b, #0bcbfb, rgb(123, 255, 0), white);
  background-size: 400% 400%;
  width: 50%;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  animation: animate1 7s ease infinite;
  box-shadow: 0 0 15px 1px rgba(255, 255, 255, 0.249);
}

.venue .container .venue-details{
  width: 70%;
  padding: 15px;
}

.venue .container iframe{
  width: 30%;
  height: 200px;
  border-radius: 10px;
  margin: 10px;
}

@media(max-width:700px) {


  main .centre {
    flex-direction: column;
    padding-block: 50px;
  }

  main .centre img {
    width: 100%;
  }

  main .centre div {
    width: 100%;
  }

  main .listener .container{
    width: 90%;
  }

  main .listener .container h2{
    font-size: 17px;
  }

  main .listener .container button{
    font-size: 15px;
  }

  .venue .container{
    width: 90%;
    flex-direction: column;
  }

  .venue .container iframe{
    width: 95%;

  }

  .venue .container .venue-details{
    width: 100%;
  }
}

@keyframes animate{
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}
@keyframes animate1{
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}

#display {
  padding: 120px 10px 50px 10px;
  background: linear-gradient(to right, #7dfb7b2f, #0bcbfb3b);
}

section.display {
  display: flex;
  border-radius: 10px;
  box-shadow: 0 0 400px rgb(128 128 128 / 48%);
  padding: 0;
  overflow: hidden;
}

section.display .menu {
  width: 25%;
  background: linear-gradient(to right, #7efb7b, #0bcbfb);
  padding: 10px;
  font-weight: bold;
}

section.display .menu ul {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

section.display .menu li {
  list-style: none;
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
}

section.display .menu li.active,
section.display .menu li:hover {
  background-color: greenyellow;
  color: green;
}

section.display .screen {
  width: 70%;
}

section.display .screen .indi-screen {
  padding: 10px;
  display: none;
  height: 100%;
}

section.display .screen .indi-screen:nth-child(1) {
  display: block;
}

section.display .screen .speakers h3{
  margin-left: 15px;
}

section.display .screen .speakers .speaker-list, section.display .screen .speakers .international-speaker-list{
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  gap: 10px;
  margin-top: 10px;
}

section.display .screen .speakers .indi-speaker{
  padding: 10px;
  border-radius: 10px;
  width: 32%;
  background-color: white;
  position: relative;
  padding-bottom: 50px;
}

section.display .screen .speakers .indi-speaker img{
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 10px;
}

section.display .screen .speakers .indi-speaker h2{
  margin-top: 10px;
  font-size: 17px;
}

section.display .screen .speakers .indi-speaker p{
  text-align: left;
  line-height: 1;
  font-size: 14px;
}

section.display .screen .speakers .indi-speaker a{
  text-decoration: underline;
  cursor: pointer;
}

section.display .screen .speakers .indi-speaker div{
  background: rgb(231, 231, 231);
  border-radius: 10px;
  padding: 3px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  /* gap: 5px; */
  cursor: pointer;
  transition: all .2s;
  position: absolute;
  bottom: 10px;
  width: 90%;
}
section.display .screen .speakers .indi-speaker div:hover{
  background: linear-gradient(to right, #7DFA7C, #0DCCF9);
}

section.display .screen .speakers .indi-speaker div img{
  width: 30px;
}
section.display .screen .speakers .indi-speaker div p{
  width: 100%;
  text-align: center;
  font-weight: 500;
  position: absolute;
}

@media(max-width: 700px){
  section.display .screen .speakers .indi-speaker{
    width: 48%;
  }
  section.display .screen .speakers .indi-speaker div img{
    width: 22px;
  }
}

section.display .screen .tutorial #tutorialBtn{
  width: 100%;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 10px 10px;
  background-color: rgb(135, 2, 2);
  border: none;
  color: white;
  font-weight: bold;
  font-size: 22px;
  cursor: pointer;
  border-radius: 10px;
  transition: all .2s;
}
section.display .screen .tutorial #tutorialBtn:hover{
  color: rgb(135, 2, 2);
  background-color: rgb(255, 193, 193);
}

section.display .screen .tutorial .venue{
  padding: 0;
}

section.display .screen .tutorial .venue .container{
  width: 100%;
}

section.display .screen .tutorial .venue h2{
  text-align: left;
  color: black;
  margin: 0;
}

section.display .screen .tutorial h2{
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 22px;
  color: green;
}
section.display .screen .tutorial img{
  width: 100%;
  border-radius: 10px;
}

section.display .screen .sponsorship h1 {
  width: 100%;
  text-align: center;
}

section.display .screen .sponsorship li {
  list-style: "➡️";
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  text-align: center;
  color: purple;
}

section.display .screen .sponsorship img {
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}

section.display .screen .indi-screen h1 {
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}

section.display .screen .indi-screen h3 {
  margin-top: 5px;
  color: green;
}

section.display .screen .contact h4 {
  margin-top: 5px;
}

section.display .screen .contact .container {
  display: flex;
  gap: 20px;
}

section.display .screen .contact .container .indi-contact {
  width: 50%;
}

section.display .screen .contact p {
  text-align: left;
}

section.display .screen .registration img,
section.display .screen .schedule img {
  width: 100%;
  border-radius: 10px;
}

section.display .screen .important-dates p {
  border: 1px solid gray;
  margin-bottom: 5px;
  border-radius: 5px;
  overflow: hidden;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-weight: bold;
}

section.display .screen .important-dates span {
  background: linear-gradient(to right, #7efb7b, #0bcbfb);
  padding: 8px 10px;
  border-radius: 5px;
}

.line-through{
  text-decoration: line-through;
  background: transparent;
}

section.display .screen .organizing-committee li {
  list-style: none;
}


section.display .screen .poster-guidelines #posterButton{
  width: 100%;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 10px 10px;
  background-color: rgb(135, 2, 2);
  border: none;
  color: white;
  font-weight: bold;
  font-size: 22px;
  cursor: pointer;
  border-radius: 10px;
  transition: all .2s;
}
section.display .screen .poster-guidelines #posterButton:hover{
  color: rgb(135, 2, 2);
  background-color: rgb(255, 193, 193);
}

section.display .screen .guidelines p:nth-child(2){
  font-weight: bold;
}

section.display .screen .guidelines p:nth-child(3) {
  color: #E36400;
  font-weight: bold;
}

section.display .screen .guidelines li:nth-child(4){
  margin-top: 10px;
  font-weight: bold;
}

section.display .screen .guidelines a{
  color: #00A6FF;
}

section.display .screen .registration .price-header{
  display: flex;
  justify-content: space-between;
  padding: 8px 10px;
  margin-bottom: 10px;
  font-weight: bolder;
  gap: 20px;
  color: green;
  font-size: 19px;
}

section.display .screen .registration .payment-details{
  display: flex;
}

section.display .screen .registration .payment-content{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

section.display .screen .registration .payment-content h2{
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

section.display .screen .registration .payment-content .indi-content{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  background-color: rgba(0, 128, 0, 0.149);
  padding: 5px 8px;
  border-radius: 10px;
}


section.display .screen .registration .payment-content .indi-content p:nth-child(2n){
  text-align: right;
}

section.display .screen .registration img{
  max-width: 300px;
}

section.display .screen .registration .price {
  display: flex;
  justify-content: space-between;
  padding: 8px 10px;
  border-radius: 10px;
  border: 1px solid rgba(128, 128, 128, 0.445);
  box-shadow: 0 0 10px rgba(128, 128, 128, 0.347);
  margin-bottom: 10px;
  font-weight: bold;
  gap: 20px;
}

section.display .screen .registration .price p{
  text-align: left;
}

section.display .screen .registration #registerButton{
  width: 100%;
  margin-top: 10px;
  padding: 10px 10px;
  background-color: rgb(135, 2, 2);
  border: none;
  color: white;
  font-weight: bold;
  font-size: 22px;
  cursor: pointer;
  border-radius: 10px;
  transition: all .2s;
}
section.display .screen .registration #registerButton:hover{
  color: rgb(135, 2, 2);
  background-color: rgb(255, 193, 193);
}

.button {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #3d3a4e;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.button:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 1;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(82.3deg,
      rgb(233, 172, 93) 10.8%,
      rgb(2, 183, 32) 94.3%);
  transition: all 0.475s;
}


@media(max-width:700px) {
  #display {
    padding: 10px;
  }

  section.display {
    margin-block: 0;
    flex-direction: column;
  }

  section.display .menu {
    width: 100%;
  }

  section.display .screen {
    width: 100%;
  }

  section.display .screen .important-dates p {
    flex-direction: column;
    padding: 0;
    text-align: left;
  }

  section.display .screen .important-dates span {
    width: 100%;
    border-radius: 0;
    text-align: center;
  }

  section.display .screen .registration .price{
    font-size: 13px;
  }

  section.display .screen .registration .payment-details{
    flex-direction: column;
  }
}

footer {
  background-color: #212121;
  color: gray;
  padding: 10px;
}

footer .centre {
  display: flex;
  gap: 20px;
  margin-block: 30px;
}

footer .centre div:nth-child(1) {
  width: 70%;
}

footer .centre div:nth-child(2) {
  width: 30%;
}

footer h4 {
  margin-bottom: 10px;
}

footer li {
  list-style: none;
  cursor: pointer;
}

@media(max-width:700px) {
  footer .centre {
    flex-direction: column;
  }

  footer .centre div:nth-child(1) {
    width: 100%;
  }

  footer .centre div:nth-child(2) {
    width: 100%;
  }
}



section.display .screen .schedule #ScheduleButton{
  width: 100%;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 10px 10px;
  background-color: rgb(135, 2, 2);
  border: none;
  color: white;
  font-weight: bold;
  font-size: 22px;
  cursor: pointer;
  border-radius: 10px;
  transition: all .2s;
}
section.display .screen .schedule #ScheduleButton:hover{
  color: rgb(135, 2, 2);
  background-color: rgb(255, 193, 193);
}


section.display .screen .copyright p:nth-child(2){
  font-weight: bold;
}

section.display .screen .copyright p:nth-child(3) {
  color: black;
  font-weight: bold;
}

section.display .screen .copyright li:nth-child(4){
  margin-top: 10px;
  font-weight: bold;
}

section.display .screen .copyright a{
  color: #00A6FF;
}

section.display .screen .copyright #copyrightButton{
  width: 100%;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 10px 10px;
  background-color: rgb(135, 2, 2);
  border: none;
  color: white;
  font-weight: bold;
  font-size: 22px;
  cursor: pointer;
  border-radius: 10px;
  transition: all .2s;
}
section.display .screen .copyright #copyrightButton:hover{
  color: rgb(135, 2, 2);
  background-color: rgb(255, 193, 193);
}